This is an experiment to see how to use the 1000 Genomes project on AWS

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy
import boto3

Get the data

In [23]:
bucket_name = 'http://s3.amazonaws.com/dataworld-odaws-us-east-1/datasets/dataremixed/sacred-text-word-counts/SacredTextWordCount.xlsx'
#bucket_name = 'datasets/dataremixed/sacred-text-word-counts/SacredTextWordCount.xlsx'
#bucket_name = 'dataworld-odaws-us-east-1'

client = boto3.client('s3')
s3 = boto3.resource('s3')
bucket = s3.Bucket(bucket_name)

In [37]:
data = pd.read_excel(bucket_name)

In [38]:
data.head()

   Count  Word            Book Common English
0  19238   THE  Book of Mormon            Yes
1  16367   AND  Book of Mormon            Yes
2  11815    OF  Book of Mormon            Yes
3   6888  THAT  Book of Mormon            Yes
4   6455    TO  Book of Mormon            Yes